In [1]:
import pandas as pd

In [2]:
# Import Iris dataset
df_iris = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/iris-data.csv")
df_iris

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
# First 5 rows of the datast
df_iris.head(5)

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
# Shape of the dataset
df_iris.shape

(150, 5)

# Descripción del dataset

A continuación vamos a describir el dataset que estamos analizando

### Número de columnas y que representan

In [9]:
# Show number of columns
df_iris.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')

El dataset tiene 5 columnas, las cuales representan:

- `sepal length`: Largo del sepalo
- `sepal width`: ancho del sepalo
- `petal length`: largo del petalo
- `petal width`: ancho del petalo
- `class`: el tipo de planta

### Existen valores nulos en el dataset

No existen columnas con valores nulos en este dataset

In [10]:
df_iris.isna().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64